[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
asynctest = "*"
autopep8 = "*"
flake8 = "*"
semver = "~=2.9"

[packages]
responder = "~=2.0"
celery = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
